amazing-auth-web/node_modules
amazing-auth-web/.next
amazing-auth-server/node_modules
amazing-auth-server/dist
amazing-auth-server/.dist
amazing-auth-server/.env*
node_modules
.env*
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/amazing-auth-web/node_modules
/amazing-auth-server/node_modules
/amazing-auth-web/.pnp
/amazing-auth-web/.pnp.*
/amazing-auth-web/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/amazing-auth-web/build

# misc
.DS_Store
*.pem

# debug
/amazing-auth-web/npm-debug.log*
/amazing-auth-web/yarn-debug.log*
/amazing-auth-web/yarn-error.log*

# env files (can opt-in for commiting if needed)
/amazing-auth-web/.env*
/amazing-auth-web/.env
/amazing-auth-server/.env*
/amazing-auth-server/.env
# vercel
/amazing-auth-web/.vercel

# typescript
/amazing-auth-web/*.tsbuildinfo
/amazing-auth-web/next-env.d.ts


